@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Indie+Flower|Odibee+Sans&display=swap");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');

@import './components/profile.scss';
@import './components/create.scss';
@import './components/gallery.scss';
@import './components/details.scss';


// ------- VARIABLES ---------

$blue50:  #eceff1;
$blue100: #cfd8dc;
$blue200: #b0bec5;
$blue300: #90a4ae;
$blue400: #78909c;
$blue500: #607d8b;
$blue600: #546e7a;
$blue700: #455a64;
$blue800: #37474f;
$blue900: #263238;

* {
  box-sizing: border-box; 
}


body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  // height: 100%;
}

#root {
  // background-color: pink;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.centerRow {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  /* background: blue; */
}

.centerCol {
  display: flex;
  flex-direction: column;
  // justify-content:center;
  align-items: center;
  /* background: blue; */
}

.width {
  width: 100%;
}


.slideBefore {
  // background: rgb(84, 107, 117);
  // background: blue;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.slideActive {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition-duration: 1.8s;
}







// --------- comments -----------------

.commentSection {
  min-height: 300px;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 100px;
  background: $blue300;
  color: $blue900;

  h2 {
    font-size: 37px;
    color: $blue900;
  }

  input {
    font-size: 17px;
    width: 100%;
    background: $blue500;
  }

  .songInput {
    width: 60%;
  }
}

.commentDiv {
  flex-wrap: wrap;
  margin-bottom: 100px;
  min-width: 100%;
}

.commentCard {
  width: 65%;
  background-color: $blue200;
  justify-content: flex-start;
  border-bottom: 1px solid $blue900;
  // background: blue;

  .nameTime {
    justify-content: flex-end;
    width: 30%;
    border-right: 1px solid $blue900;
    margin-right: 10px;

    h3 {
      margin-bottom: 0;
    }
  }
}

// ---------- Edit ----------------------

.EditButtons {
  width: 60%;
  justify-content: space-evenly;
}

.editButton {
  padding: 15px;
  width: 20%;
  background: $blue200;
  cursor: pointer;
  font-size: 20px;
  border: none;

  &:focus {
    outline: 0;
    border: none;
  }

  &:hover {
    opacity: 0.7;
  }
}


  // box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
