

.detailPage {
  background: $blue600;
  color: $blue50;

  .detailTitles {
    background: $blue700;
    margin-top: 30px;
    padding: 20px 10% 0 10%;
    animation: fade 3s forwards;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      topacity: 100%;
    }
  }

  h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 70px;
  }
  h2 {
    font-size: 27px;
    color: $blue100;
  }

  button {
    padding: 15px;
    color: $blue50;
    margin-top: 10px;
    // width: 20%;
    background: $blue700;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid $blue300;
  
    &:focus {
      outline: 0;
      border: none;
    }
  
    &:hover {
      opacity: 0.7;
    }
  }
}
.detailPlayer {
  margin-top: 40px;
  width: 40%;

  .MuiPaper-root {
    background: $blue200;
  }
}