
$blue50:  #eceff1;
$blue100: #cfd8dc;
$blue200: #b0bec5;
$blue300: #90a4ae;
$blue400: #78909c;
$blue500: #607d8b;
$blue600: #546e7a;
$blue700: #455a64;
$blue800: #37474f;
$blue900: #263238;

.profile {
  height: 100%;
  min-height: 100vh;
  background: $blue600;
  color: $blue50;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; // required for span transtion to work
    padding: 10px 0;
    margin-left: 20px;
    font-size: 6vw;
    margin: 30px 0 0 0;
    min-height: 90px;
    color: white;
    line-height: 1.2em;
    // background: pink;
    z-index: 1; // set background infront or behind another (layers)

  
    span {
      position: absolute;
      background: $blue600;
      // z-index: -1;
      width: 100%;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
    }
  
  }
}

.songDiv {
  width: 93%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profileCard {
  // width: 21%;
  min-width: 400px;
  max-width: 500px;
  margin: 30px 20px 20px 20px;
  background: $blue400;
  box-shadow: 10px 30px 10px 5px rgba(76, 75, 75, 0.377);
  color: white;

  h2 {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .links {
    justify-content: space-evenly;
    width: 70%;
    margin: 0 0 35px 0;

      button {
        font-size: 13px;
        background: $blue200;
        border: none;
        padding: 7px 5px;
        cursor: pointer;

          &:focus {
            outline: 0;
            border: none;
          }
          &:hover {
            opacity: 0.7;
          }
      }
  }
  .MuiPaper-root {
    background: $blue50;
    padding-bottom: 0;
  }
  
  // min-width: 300px;
  // max-width: 300px;
}